<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />

      <!--Set the master page to be used if not specified-->
      <pages masterPageFile="~/GCIntranet.master" />

      <!--Create a site map provider for each language-->
      <siteMap defaultProvider="EnglishSiteMapProvider" enabled="true">
        <providers>
          <add name="EnglishSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Web.sitemap" />
          <add name="FrenchSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Web.fr.sitemap" />

          <add name="EnglishFooterSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Footer.sitemap" />
          <add name="FrenchFooterSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Footer.fr.sitemap" />
        </providers>
      </siteMap>
      
    </system.web>
</configuration>
