<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <!--Custom config section with site name and default options-->
  <configSections>
    <sectionGroup name="WetBoewGroup">
      <section name="WetBoew" type="GCIntranetTheme.WetBoewConfiguration, GCIntranetTheme" />
    </sectionGroup>
  </configSections>
  
  <WetBoewGroup>
    <WetBoew defaultLanguage="en" textDirection="ltr" siteName="Web Experience Toolkit" homePage="~/default.aspx" >
      <!--TODO:  Maybe something like the following?
    <WetBoew breadcrumbTrail="true" search="true" siteMenu="true">
      <languages>
        <add name="English"  abbr="en" textDirection="ltr" default="true" homePage="~/index-en.aspx" siteName="Web Experience Toolkit" />
        <add name="Français" abbr="fr" textDirection="ltr"                homePage="~/index-fr.aspx" siteName="Boîte à outils de l’expérience Web" />
      </languages>
    </WetBoew>-->
    </WetBoew>
  </WetBoewGroup>
  
  <system.web>
      <compilation debug="true" targetFramework="4.0" />

      <!--Set the master page to be used if not specified-->
      <pages masterPageFile="~/GCIntranet.master" />

      <!--Create site map providers for each language-->
      <siteMap defaultProvider="EnglishSiteMapProvider" enabled="true">
        <providers>
          <add name="EnglishSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Web.sitemap" />
          <add name="FrenchSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Web.fr.sitemap" />

          <add name="EnglishHeaderSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Header.sitemap" />
          <add name="FrenchHeaderSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Header.fr.sitemap" />
          
          <add name="EnglishFooterSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Footer.sitemap" />
          <add name="FrenchFooterSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Footer.fr.sitemap" />
        </providers>
      </siteMap>     
      
    </system.web>
</configuration>
